In [ ]:
import pandas as pd

In [ ]:
cruises = pd.read_csv('data/01_cruises.csv')

cruises = cruises[['Dato','ETA','ETD','Navn','Passasjerer', 'Agent', 'Kai','Tonn', 'Lengde']]

In [ ]:
cruises['Navn'] = cruises['Navn'].replace('Preziosa', 'MSC Preziosa')
cruises['Navn'] = cruises['Navn'].replace('Aidaluna', 'AIDAluna')
cruises['Navn'] = cruises['Navn'].replace('AidaMar', 'AIDAmar')

In [ ]:
# 

# Filling the times for World Traveler
row_index = 16
column_name = 'ETA'
value_to_fill = '08:00'

cruises.loc[row_index, column_name] = cruises.loc[row_index, column_name] if pd.notna(cruises.loc[row_index, column_name]) else value_to_fill

row_index = 16
column_name = 'ETD'
value_to_fill = '17:00'

cruises.loc[row_index, column_name] = cruises.loc[row_index, column_name] if pd.notna(cruises.loc[row_index, column_name]) else value_to_fill

# Filling the times for Jewel of the Sea which stayed overnight
row_index = 47
column_name = 'ETD'
value_to_fill = '23:00'

cruises.loc[row_index, column_name] = cruises.loc[row_index, column_name] if pd.notna(cruises.loc[row_index, column_name]) else value_to_fill

row_index = 49
column_name = 'ETA'
value_to_fill = '00:00'

cruises.loc[row_index, column_name] = cruises.loc[row_index, column_name] if pd.notna(cruises.loc[row_index, column_name]) else value_to_fill

In [ ]:
# Example DataFrame (assuming it's already defined)
# data = {'ETA': [None]*50, 'ETD': [None]*50}
# cruises = pd.DataFrame(data)

def corrections(df, updates):
    for row, collumn, value in updates:
        if pd.isna(df.loc[row, collumn]):
            df.loc[row, collumn] = value

# Define all updates in a list of tuples
update = [
    # (13, 'ETD', '02:00'),
    (16, 'ETA', '08:00'),
    (16, 'ETD', '17:00'),
    # (18, 'ETA', '08:00'),
    # (19, 'ETA', '13:00'),
    # (21, 'ETA', '08:00'),
    # (27, 'ETA', '19:00'),
    # (33, 'ETA', '15:00'),
    # (34, 'ETA', '07:00'),
    (47, 'ETD', '23:00'),
    (49, 'ETA', '00:00'),
    # (113, 'ETD', '23:00'),
    # (115, 'ETA', '00:00'),
    # (115, 'ETD', '02:00')
]

# (19, 'ETD', '01:00'), (05, 'ETD', '05:00'),  (25, 'ETD', '08:00'),  (27, 'ETD', '06:00'), (33, 'ETD', '02:00'), (34, 'ETD', '17:00'), (35, 'ETD', '06:00'), (36, 'ETd', '05:00'),
#  - TATO ZUSTALA DO 1 V NOCI. MUSIME PRIDAT RADEK

# drop: radek 23, 30, 38

# Apply all updates in one function call
corrections(cruises, update)

In [ ]:
# correcting the times of Hamburg

row_index = 113
column_name = 'ETD'
value_to_fill = '23:00'

cruises.loc[row_index, column_name] = value_to_fill

In [ ]:
# zbavily jsme se Queen Victoria na indexu 15, ktera nedoplula.
cruises = cruises.drop(15, axis='index')

In [ ]:
# # Kontrola toho, ze uz nemame v cruises hodnoty s nevyplnenym casem
lode = cruises[['Navn','Passasjerer','Dato','ETA','ETD']] #timhle si vyberu, ktere tabulky maji chybu a kuzu si to zkontrolovat v tabulce s rozpisem sluzeb, kdy lode opravdu dojely

nula = lode[lode.isna().any(axis=1)]
nula

In [ ]:
cruises.to_csv('data/cruises.csv')
# cruises.to_csv('data/cruises.csv', index=False)